
html
{
	height: 100%;

}

#navbar
{
	display: grid;
	grid-template-columns: 50px 50px 1fr 50px 50px 50px;
	grid-template-rows: 50px;
	grid-template-areas: 
	"About Store . Gmail Image Menu Sign-in";
	margin: 0 20px;
}

a,p{

	text-decoration: none;
	color: rgba(0,0,0,0.87);
	font-size: 13px;
	font-family: Ariel, Helvetica, sans-serif;

}

a:hover{
	text-decoration: underline;
}
#About{
	grid-area: About; 
		justify-self: : center;
		align-self: center;
}

#Store{
	grid-area: Store; 
	justify-self: : center;
	align-self: center;
}

#Gmail{
	grid-area: Gmail; 
	justify-self: : center;
	align-self: center;
}

#Image{
	grid-area: Image; 
	justify-self: : center;
	align-self: center;
	margin-right: 10px;
}

#Menu{
	grid-area: Menu; 
	justify-self: : center;
	align-self: center;
	margin-right: 10px;
}


#Sign-in{
	grid-area: Sign-in; 
	justify-self: : center;
	align-self: center;
	background-color: #4683ea;
	color: white;
	font-weight: bold;
	height: 30px;
	width: 65px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #4285f4;
}

#Deutsch{

	color: blue
}

/* -------------------------------- */

#main{
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 250px 70px 70px 250px;
	grid-template-areas: 
	". logo ."
	". search ."
	". flexbox ."
	". google-text .";
}


#logo{
	
	grid-area: logo;
	justify-self: center;
	align-self: end;

}


#search{
	grid-area: search;
	height: 34px;
	width: 100%;
	align-self: center;
	justify-self: center;
	border: 1px solid rgba(0,0,0,.087);
	border-radius: 30px;
	background-color: transparent;
}

#search:focus {

		box-shadow: 1px 1px 1px grey;
}
#search:hover {

		box-shadow: 1px 1px 1px grey;
}

#flexbox{
	display: flexbox;
	grid-area: flexbox;
	justify-self: center;
	align-self: center;

}

#google-search-btn{
	border: none;
    font-size: 15px;
	color: #5F6368;
	margin-right: 25px;
	padding: 7px 15px 7px 15px;
	border-radius: 3px;
}

#random-search-btn{
	border: none;
	font-size: 15px;
	color: #5F6368;
	padding: 7px 15px 7px 15px;
	border-radius: 3px;
}

#google-search-btn:hover{
	border: 1px solid rgba(0, 0, 0, 0.226);

}
#random-search-btn:hover{
	border: 1px solid rgba(0, 0, 0, 0.226);

}


#google-text{

	grid-area: google-text;
	justify-self: center;
}




/* -------------------------------- */

#footer{
	position: absolute;
	bottom: 0;
	display: grid;
	grid-template-columns: 100px 100px 150px 880px 70px 70px 70px;
	grid-template-rows: 50px;
	grid-template-areas: 
	"advertasing business hsw . privacy terms setting"

}



#advertasing{

	grid-area: advertasing;
	justify-self: center;
	align-self: center;
}


#business{

	grid-area: business;
	justify-self: center;
	align-self: center;
}


#hsw{

	grid-area: hsw;
	justify-self: center;
	align-self: center;
}


#privacy{

	grid-area: privacy;
	justify-self: center;
	align-self: center;
}


#terms{

	grid-area: terms;
	justify-self: center;
	align-self: center;
}


#setting{

	grid-area: setting;
	justify-self: center;
	align-self: center;
}


